@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: monument;
    src: url(./font/monument/MonumentExtended-Ultrabold.otf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
    padding: 0.1px;
}

nav {
    width: 100%;
    height: 11vh;
    /* background-color: rgb(152, 66, 231); */
    margin-top: 30px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    height: 100%;
    width: 21%;
    /* background-color: rgb(147, 78, 211); */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monument;
    font-size: 2.6vw;
    letter-spacing: -2.2px;
}
nav h2 {
    height: 100%;
    width: 18%;
    /* background-color: rgb(78, 142, 211); */
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 1.3vw;
    font-weight: 500;
    word-spacing: 1px;
}

nav h2:nth-last-child(2) {
    width: 18%;
    border: none;
    font-size: 2vw;
    /* background-color: coral; */
}

nav h2:nth-last-child(3) {
    width: 25%;
}

#center {
    width: 100%;
    height: 100%;
    /* background-color: #af4ce4; */
    padding: 3vw 4vw;
    z-index: 900;
}

#content {
    width: 100%;
    height: 100%;
    position: relative;
}

#content video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#center-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 4%;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0; 
    /* background-color: crimson; */
    padding: 3vw;
    color: white;
}

#overlay-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#overlay-part1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vw;
    /* background-color: antiquewhite; */
}

#overlay-part1 h1{
    font-family: monument;
    font-size: 3.5vw;
    font-weight: 900;
    letter-spacing: 1px;
}
#overlay-part1 h2{
    font-size: 1.2vw;
    font-weight: 400;
    padding: 2vw 2.1vw;
    /* background-color: coral; */
    border-radius: 50%;
    border: 2px solid white;
}

#overlay-part2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid white;
    padding: 0.8vw 0;
}

#overlay-part2 h4{
    font-size: 1.3vw;
    font-weight: 500;
}

#overlay-part2 img {
    height: 4vw;
}

#scroll {
    width: 100%;
    height: 40vh;
    /* background-color: rgb(94, 38, 150); */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* I used this div to center the element among the scroll 
    height, else it is stuck on the top of scroll div*/
#scroll-inner {
    width: 100%;
    /* background-color: #000; */
    overflow: hidden;
    white-space: nowrap;
}


.container {
    /* width: 100%;
    height: 80%; */
    /* background-color: crimson; */
    display: inline-block;
    align-items: center;
    overflow-x: hidden;
    animation: loop 20s linear infinite;
}

.container img {
    width: 14vw;
    height: 14vw;
    object-fit: cover;
    border-radius: 50%;
    object-position: top;
    padding: 1.1vw;
}
#scroll-inner:hover .container {
    animation-play-state: paused;
}

@keyframes loop {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

#alphabet {
    width: 100%;
    height: 13vh;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.2vw;
    padding: 0 4vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#alphabet h1 {
    font-size: 1.65vw;
    font-style: italic;
    border-bottom: 3px solid black;
    font-weight: 500;
    letter-spacing: 7px;
    margin-right: 2vw;
}
#alphabet h2 {
    font-size: 1.2vw;
    font-style: italic;
    font-weight: 400;
    /* background-color: crimson; */
    padding: 0.6vw 1.1vw;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0);
    
}
#alphabet h2:hover {
    border: 1px solid black;
    transition: all 1s ease;
}

#gallery {
    width: 100%;
    height: 130%;
    /* background-color: darkmagenta; */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 3.5vw 4vw;
}

#gallery-part1 {
    width: 55%;
    height: 100%;
    /* background-color: goldenrod; */
}

#gallery-part1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#gallery-part2 {
    width: 40%;
    height: 100%;
    /* background-color: rgb(62, 196, 98); */
}

#gallery-img {
    width: 100%;
    height: 78%;
    /* background-color: crimson; */
}

#gallery-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#gallery-text {
    width: 100%;
    height: 22%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    padding-top: 1.2vw;
    gap: 1vw;
}

#gallery-text h2 {
    font-size: 1.6vw;
    /* background-color: chocolate; */
    font-weight: 500;
    width: 35%;
    display: flex;
    align-items: end;
}
#gallery-text h5 {
    width: 50%;
    /* background-color: rgb(30, 210, 102); */
    font-size: 1.1vw;
    line-height: 1.3vw;
    font-weight: 500;
    display: flex;
    align-items: center;
}

#shot {
    width: 100%;
    height: 110%;
    display: flex;
    justify-content: space-between;
    padding: 0 4vw;
}

#shot-part1 {
    width: 40%;
    height: 100%;
    /* background-color: coral; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#shot-part1 h1 {
    font-family: monument;
    font-size: 2.8vw;
    letter-spacing: 2px;
}

#circular-effect {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    /* background-color: darkgoldenrod; */
}

#shot-part2 {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: end;
    /* background-color: rgb(108, 40, 15); */
}

#shot-part2 img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    display: flex;
    align-items: end;
    object-position: top;
}

#cir-text {
    font-size: 1.6vw;
    font-weight: 500;
    word-spacing: 0.5vw;
    transform-origin: 50% 50%;
    /* animation: moving-text linear 5s infinite; */
}

#curve {
    fill: transparent
}

@keyframes moving-text {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(180deg);
    }
}

#shot-part1 h5 {
    width: 90%;
    font-size: 1.6vw;
    font-weight: 500;
    line-height: 2vw;
    padding-left: 4vw;
}

#updates {
    width: 100%;
    height: 140%;
    padding: 12vw 4vw 0 4vw;
    /* background-color: crimson; */
}

#updates>h1 {
    font-family: monument;
    font-size: 3.2vw;
    margin-bottom: 9vh;
    text-align: center;
}

.up-elem {
    width: 100%;
    height: 22vh;
    /* background-color: aquamarine; */
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
    position: relative;
}

.up-elem:nth-last-child(1) {
    border-bottom: 2px solid black;
}

.elem-text{
    width: 50%;
    
}
.elem-text h1 {
    font-weight: 400;
    font-size: 2.8vw;
    margin-bottom: 0.4vw;
}
.elem-text h5 {
    font-weight: 500;
    font-size: 0.9vw;
    letter-spacing: 1px;
}
.up-elem img {
    width: 9vw;
    height: 8vw;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    position: absolute;
    left: 15%;
    opacity: 0;
    transition: all ease 0.7s;
}
.up-elem:nth-child(2n) img {
    left: 26%;
}
.up-elem:nth-child(2n):hover img {
    left: 15%;
}

.up-elem:hover img {
    opacity: 1;
    left: 33%;
}

.up-elem h4 {
    width: 6%;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2vw;
}


#movie-shot {
    width: 100%;
    height: 110%;
    display: flex;
    justify-content: space-between;
    padding: 4.5vw 4vw 3vw 4vw;
    
}

#movie-p1 {
    width: 50%;
    height: 100%;
}
#movie-p1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

#movie-p2 {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#movie-p2 h1 {
    font-family: monument;
    font-size: 2.8vw;
}
#movie-p2 h3 {
    width: 54%;
    font-size: 1.5vw;
}

#movie-p2 h5 {
    font-size: 1vw;
    font-weight: 500;
}


#movie-shot-img {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

#movie-shot-img img:nth-child(1) {
    width: 55%;
    height: 100%;
    object-fit: cover;
}

#movie-shot-img img:nth-last-child(1) {
    width: 41%;
    height: 100%;
    object-fit: cover;
}

#infinite-text {
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

#marque {
    height: 35%;
    display: flex;
    align-items: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    white-space: nowrap;
    
}

#marque h1{
    display: inline-block;
    margin-right: 20px;
    font-size: 3.3vw;
    font-family: monument;
    -webkit-text-stroke: 1.5px rgb(32, 32, 32);
    color: transparent;
    letter-spacing: 7px;
    animation: marqueAnimation linear infinite 7s;
}

@keyframes marqueAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% - 20px));
    }
}


#blog {
    width: 100%;
    height: 100%;
    padding: 3vw 4vw;
    display: flex;
    justify-content: space-between;
}

#blog>h1 {
    width: 20%;
    height: 100%;
    font-family: monument;
    font-size: 2.8vw;
}

.blog-p1 {
    width: 35%;
    height: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

.upper-part {
    width: 100%;
    height: 35%;
    display: flex;
    line-height: 2.4vw;
}

.upper-part h5 {
    height: fit-content;
    font-size: 1.3vw;
    font-weight: 400;
    padding: 0.1vw 1vw;
    border-radius: 50%;
    border: 1.5px solid black;
    margin-right: 1.4vw;
}

.upper-part h4 {
    font-size: 1.5vw;
    font-weight: 600;
}

.lower-part {
    width: 100%;
    height: 65%;
}

.lower-part img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}


footer {
    width: 100%;
    height: 45%;
    margin-top: 5vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: grid;
    grid-template-columns: 21% 18% 18% 43%;
    grid-template-rows: 32% 68%;
}


footer h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monument;
    font-size: 2.6vw;
    letter-spacing: -2.2px;
}
footer h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 1.4vw;
    font-weight: 500;
    word-spacing: 1px;
}

footer h3 {
    display: flex;
    align-items: center;
    padding-left: 4vw;
    font-size: 1.4vw;
    font-weight: 500;
    word-spacing: 1px;
    border-right: none;
    border-bottom: 2px solid black;
}

#footer-box1 {
    grid-row: 2;
    grid-column: 1 / 3;
    border-right: 2px solid black;
}
#footer-box2 {
    grid-column: 3;
    grid-row: 2;
    border-right: 2px solid black;
}

#socials {
    grid-row: 2;
    grid-column: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 4vw;
}

#social-icon {
    display: flex;
    gap: 2vw;
}

#social-icon i{
    font-size: 2vw;
    color: #454545;
}

#socials h5 {
    font-size: 1.1vw;
    font-weight: 500;
    width: 70%;
}

#page {
    width: 100%;
    height: 30px;
}

nav h3 {
    display: none;
}


@media (max-width: 600px) {
    nav {
        margin-top: 15px;
        height: 6vh;
        padding: 0 4vw;
        border-top: 1.7px solid black;
        border-bottom: 1.7px solid black;
    }

    nav h1 {
        font-size: 4.2vw;
        width: 50%;
        justify-content: start;
    }

    nav h2 {
        display: none;
    }

    nav h3 {
        display: block;
        font-size: 4vw;
    }

    
    #center {
        height: 40%;
    }
    
    #overlay {
        height: fit-content;
    }
    
    #overlay-part1 h1{
        font-size: 4.5vw;
    }

    #overlay-part1 h2{
        font-size: 2.2vw;
        border: 1px solid white;
    }
    
    #overlay-part2 {
        padding: 1.5vw 0;
    }
    
    #overlay-part2 h4{
        font-size: 2vw;
        font-weight: 500;
    }
    
    #overlay-part2 img {
        height: 5.5vw;
    }
    
    #scroll {
        height: 14vh;
        /* background-color: rgb(94, 38, 150); */
    }
    
    .container img {
        width: 18vw;
        height: 18vw;
        padding: 1.1vw;
    }


    #alphabet {
        height: 6vh;
        /* background-color: aquamarine; */
        gap: 0.4vw;
        overflow-x: auto;
        border-top: 1.5px solid black;
        border-bottom: 1.5px solid black;
    }
    #alphabet::-webkit-scrollbar {
        display: none;
    }

    #alphabet h1 {
        font-size: 2.7vw;
        border-bottom: 1.8px solid rgb(65, 65, 65);
        font-weight: 600;
        letter-spacing: 5px;
    }

    #alphabet h2 {
        font-size: 2.1vw;
        padding: 0.6vw 1.1vw;
    }
    
    #gallery {
        width: 100%;
        height: 40%;
    }

    #gallery-part2 {
        width: 42%;
        height: 100%;
    }

    #gallery-img {
        height: 80%;
    }

    #gallery-text {
        height: 20%;
        padding-top: 0.5vw;
    }

    #gallery-text h2 {
        font-size: 2vw;
        width: 40%;
    }
    #gallery-text h5 {
        width: 50%;
        font-size: 1.2vw;
        line-height: 1.5vw;
        font-weight: 400;
    }
    
    #shot {
        margin: 3vw 0;
        height: 40%;
    }

    #shot-part1 h1 {
        font-size: 3vw;
        letter-spacing: 2px;
    }

    #shot-part1 h5 {
        width: 100%;
        font-size: 1.8vw;
        line-height: 2.3vw;
    }

    #updates {
        height: 56%;
        padding: 17vw 4vw 4vw 4vw;
        /* background-color: cornflowerblue; */
    }

    #updates>h1 {
        font-size: 3.5vw;
        letter-spacing: 2px;
        margin-bottom: 3vh;
    }

    .up-elem {
        height: 9.5vh;
        border-top: 1px solid black;
    }
    .up-elem:nth-last-child(1) {
        border-bottom: 1px solid black;
    }
    .elem-text{
        width: 48%;
        /* background-color: rgb(165, 255, 127); */
    }

    .elem-text h1 {
        font-size: 3.5vw;
    }

    .elem-text h5 {
        font-weight: 500;
        font-size: 1.3vw;
        letter-spacing: 1px;
    }
    .up-elem img {
        width: 11vw;
        height: 10vw;
        left: 18%;
    }
    .up-elem:nth-child(2n) img {
        left: 26%;
    }
    .up-elem:nth-child(2n):hover img {
        left: 18%;
    }

    .up-elem h4 {
        font-size: 1.6vw;
    }
    
    #movie-shot {
        height: 38%;
    }

    #movie-p1 {
        width: 50%;
    }

    #movie-p2 {
        width: 47%;
    }

    #movie-p2 h1 {
        font-size: 3.5vw;
        letter-spacing: 2px;
    }
    #movie-p2 h3 {
        font-size: 1.8vw;
        line-height: 2.3vw;
    }

    #movie-p2 h5 {
        font-size: 1.3vw;
        font-weight: 400;
        line-height: 1.9vw;
    }

    #movie-shot-img {
        height: 50%;
    }

    #infinite-text {
        /* background-color: cornflowerblue; */
        height: 12%;
    }

    #marque {
        height: 30%;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        /* background-color: darksalmon; */
    }

    #marque h1{
        font-size: 3.2vw;
        -webkit-text-stroke: 0.8px rgb(32, 32, 32);
    }

    @keyframes marqueAnimation {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-100% - 68px));
        }
    }

    #blog {
        height: 30%;
    }

    #blog>h1 {
        font-size: 3.5vw;
        letter-spacing: 2px;
    }

    .upper-part {
        height: 30%;
        line-height: 2.4vw;
    }

    .upper-part h5 {
        font-size: 1.5vw;
        padding: 0.2vw 1.1vw;
        height: fit-content;
        border: 1px solid black;
    }

    .upper-part h4 {
        font-size: 1.7vw;
        font-weight: 500;
    }

    .lower-part {
        height: 70%;
    }
    
    footer {
        height: 12%;
        margin-top: 8vw;
        border-top: 1.5px solid black;
        border-bottom: 1.5px solid black;
    }


    footer h1 {
        font-size: 3.5vw;
        letter-spacing: -1px;
        /* background-color: crimson; */
    }
    footer h2 {
        border-right: 1px solid black;
        font-size: 1.7vw;
        font-weight: 500;
        word-spacing: 1px;
    }

    footer h3 {
        padding-left: 3vw;
        font-size: 1.7vw;
        font-weight: 500;
        word-spacing: 1px;
        border-bottom: 1px solid black;
    }

    #footer-box1 {
        border-right: 1px solid black;
    }
    #footer-box2 {
        border-right: 1px solid black;
    }

    #socials {
        padding-left: 3vw;
    }

    #social-icon i{
        font-size: 2.8vw;
    }

    #socials h5 {
        font-size: 1.4vw;
        font-weight: 400;
        width: 70%;
    }

    #page {
        height: 15px;
    }
}